.TheTopdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

@media screen and (max-width: 430px) {
  .obi {
    font-size: 6.5px;
    text-align: center;
  }
}

.barTing {
  background: grey;
}

.calGoal {
  color: black;
  text-align: center;
  text-decoration: underline;
}

/* .btn-secondary {
  background-color:#C0B283 !important;
} */

.nutChart {
  background-color: green;
}

